@font-face {
  font-family: 'questrialregular';
  src: url('assets/fonts/questrial-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/questrial-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primaryColor: #090e36;
  --secondaryColor: #2c495c;
  --highlightColor: #ff2600;
  --primaryBgColor: #fff;
  --secondaryBgColor: #c8c8c8;
  --highlightContrastColor: #fff;
}

body {
  font-family: 'questrialregular', sans-serif;
  min-height: 100vh;
  width: 100%;
  color: var(--primaryColor);
  background-color: var(--primaryBgColor);
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: -.04em;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 3.3rem;
}

.heading {
  margin-bottom: 2rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.15;
}

.container-fluid {
  padding: 0 4rem;
  min-width: 375px;
}

.highlight {
  color: var(--highlightColor);
}

.link {
  color: var(--secondaryColor);
  transition: color 250ms ease-in-out;
}

.link:hover {
  color: var(--highlightColor);
}
